<h4>General:</h4>
<p>{% trans %}email.setup.general.user_name{% endtrans %}: [nombre de usuario]@{{entity.domain}}</p>


<h4>IMAP:</h4>

<p>{% trans %}email.setup.imap.server_name{% endtrans %}: mail.{{entity.domain}}</p>
<p>{% trans %}email.setup.imap.port{% endtrans %}: 143</p>
<p>{% trans %}email.setup.imap.security{% endtrans %}: STARTTLS</p>
<p>{% trans %}email.setup.imap.authmethod{% endtrans %}: Contraseña normal</p>

<h4>POP:</h4>

<p>{% trans %}email.setup.imap.server_name{% endtrans %}: mail.{{entity.domain}}</p>
<p>{% trans %}email.setup.imap.port{% endtrans %}: 110</p>
<p>{% trans %}email.setup.imap.security{% endtrans %}: STARTTLS</p>
<p>{% trans %}email.setup.imap.authmethod{% endtrans %}: Contraseña normal</p>


<h4>SMTP:</h4>

<p>{% trans %}email.setup.smtp.server_name{% endtrans %}: mail.{{entity.domain}}</p>
<p>{% trans %}email.setup.smtp.port{% endtrans %}: 25</p>
<p>{% trans %}email.setup.smtp.security{% endtrans %}: STARTTLS</p>
<p>{% trans %}email.setup.smtp.authmethod{% endtrans %}: Contraseña normal</p>
