{% extends '::base.html.twig' %}
{% block body %}

<h1>MailWBList creation</h1>

<div class="form_box">

	<form action="{{ path('mailwblist_create') }}" method="post" {{ form_enctype(form) }}>
   	 {{ form_widget(form) }}
	    <p>
	        <button type="submit">Create</button>
	    </p>
	</form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('mailwblist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
