{% extends '::base.html.twig' %}
{% block body %}
<h1>{% trans %}New IP Address{% endtrans %}</h1>

<div class="form_box">
    <form action="{{ path('ipaddress_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('ipaddress') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
