{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}User details{% endtrans %}{% endblock %}


{% block fos_user_content %}
<div class="form_box">
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock fos_user_content %}
