# IDE Files ignores
nbproject/
*.un~
*.*~
tags
ctags
*.swp
.DS_Store

# Symfony2 gitignore from https://github.com/github/gitignore
# Bootstrap
app/bootstrap*
app/main/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/main/logs/*
*/cache/*
*/main/cache/*
web/uploads/*
web/bundles/*
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/config_dev.yml

#composer.phar
composer.phar
