# IDE Files ignores
nbproject/
*.un~
tags
*.swp
.DS_Store

# Symfony2 gitignore from https://github.com/github/gitignore
# Bootstrap
app/bootstrap*
app/main/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/main/logs/*
*/cache/*
*/main/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/main/config/parameters.ini
app/main/config/parameters.yml
app/main/config/config_dev.yml

