{% if entities|length %}
	<table>
	  <thead>
		  <tr>
			  <th>Address</th>
			  <th>Go To</th>
		  </tr>
	  </thead>
	  {% for entity in entities %}
		  <tr>
			  <td><a href="{{ path('mailalias_show', { 'id': entity.id }) }}">{{ entity.address }}</a></td>
			  <td><a href="{{ path('mailalias_show', { 'id': entity.id }) }}">{{ entity.goto }}</a></td>
		  </tr>
	  {% endfor %}
  </table>
{% endif %}
