{% extends '::base.html.twig' %}
{% block body %}
<h1>{%trans%}Settings{%endtrans%}</h1>

<div class="form_box">
    <form action="{{ path('settings_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
        <button type="submit">{%trans%}Save{%endtrans%}</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('settings') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
