{% extends '::base.html.twig' %}
{% block body %}
<h1>DatabaseUser creation</h1>

<div class="form_box">
    <form action="{{ path('databaseuser_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('databaseuser') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
