/* 
 *Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles.

/* COLORS

$login-body-bg: #F5F5F5
$login-form-bg: #FFFFFF
$login-input-font-color: #555555

$link-color: #0977B6
$title-color: #064C75

$menu-selected-item-color: #E6E6E6

@mixin menu-item-separation
  border:
    bottom: 1px solid #FFFFFF
    top: 1px solid #D8D8D8

