/* 
 *Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles.

/* LAYOUT

root
  display: block

#sidebar
  margin: 0
  padding: 0

#content
  clear: right
  overflow: hidden
  padding:
    left: 40px
    right: 40px

.tabs-content
  float: left
  clear: both
  padding:
    left: 14px
    top: 23px
    bottom: 12px
  width: 100%

@mixin centered
  margin: 0 auto
