/* 
 *Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles.

@import "colors"

/* MENU
.main
  background: url('images/menu_bg.png') $menu-bg

#sidebar
  background-color: $menu-bg

#sidebar ul
  @include menu-item-separation
  margin: 0 0 18px
  border: none
  padding: 0
  list-style: none
  li
    border-bottom: 1px solid #D8D8D8
    color: #0977B6
  span.current
    background-color: lighten($menu-selected-item-bg-color, 0)
  li
    &.current
      background-color: lighten($menu-selected-item-bg-color, 0)
      a
        color: $menu-selected-item-color
    span
      cursor: pointer
      display: block
      padding: 8px 15px
    ul li
      span, a
        cursor: pointer
        display: block
        padding: 8px 15px
    a
      cursor: pointer
      display: block
      padding: 8px 15px
    span:hover, a:hover
      color: $menu-selected-item-color
      background-color: lighten($menu-selected-item-bg-color, 0)
      text-decoration: none
  span:hover
    color: $menu-selected-item-color
    background-color: lighten($menu-selected-item-bg-color, 5)
  li
    &:hover 
      background-color: lighten($menu-selected-item-bg-color, 5)
      a, span
        color: $menu-selected-item-color
    &.current_ancestor
      background-color: lighten($menu-selected-item-bg-color, 10)
      a, span
        color: $menu-selected-item-color
    &:active
      background-color: lighten($menu-selected-item-bg-color, 0)
      a
        color: $menu-selected-item-color
    ul
      display: none
      border: medium none
      margin: 0 0 8px
      padding-left: 30px

#sidebar ul li
  &.current_ancestor ul, &.current ul, &.current_ancestor ul li.current_ancestor ul, &.current ul li.current_ancestor ul
    display: block
  &.current_ancestor ul li ul, &.current ul li ul
    display: none
  ul
    ul
      margin: 0
      padding-left: 15px
    li
      background: none repeat scroll 0 0 transparent
      border: medium none
      font-size: 13px
      list-style: disc outside
      margin: 0
