{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}WPSetup creation{% endtrans %}{% endblock %}
{% block body %}

<div class="box box-body">
    <form action="{{ path('wpsetup_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
        <button type="submit">Create</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('wpsetup') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
