<table class="widget_record_properties table">
    <thead><tr>
            <th>{% trans %}dnsrecord.field.name{% endtrans %}</th>
            <th>{% trans %}dnsrecord.field.type{% endtrans %}</th>
            <th>{% trans %}dnsrecord.field.content{% endtrans %}</th>
    </tr></thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td><i class="icon-pencil"></i><a href="{{ path('dnsrecord_edit', { 'id': record.id })  }}">{{ record.name }}</a></td>
            <td>{{ record.type }}</td>
            <td>{{ record.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

