imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        enabled: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

doctrine:
    dbal:
        driver:   %database_driver%
        path:     %database_path%
        user:     %database_user%
        password: %database_password%

parameters:
    database_driver: pdo_sqlite
    database_path: %kernel.root_dir%/data/data.db3
    database_user:   test_user
    database_password: test_password
