parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: databasename
    database_user: username
    database_password: yourpassword

    admin_database_driver: pdo_mysql
    admin_database_host: mysql
    admin_database_port: null
    admin_database_name: databasename
    admin_database_user: username
    admin_database_password: password

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 9e410dfd0d98704184c8b163064a31fdd122eb90
    database_path: null
