{% extends '::base.html.twig' %}


{% block fos_user_content %}
<h1>{% trans %}User details{% endtrans %}</h1>
<div class="form_box">
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock fos_user_content %}
