{% extends "::base.html.twig" %}
{% block header_title %} - {% trans %}User details{% endtrans %}{% endblock %}

{% block body %}
<div class="form_box">
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
</div>
{% endblock body %}
