{% extends "::base.html.twig" %}

{% block body %}
<h1>{% trans %}User details{% endtrans %}</h1>
<div class="form_box">
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
</div>
{% endblock body %}
