{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}MailDomain creation{% endtrans %}{% endblock %}
{% block body %}
<h1>MailDomain creation</h1>

<div class="form_box">
    <form action="{{ path('maildomain_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('maildomain') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
