/* */
/* Login form */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
root {
  display: block;
}

/* line 13, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#sidebar {
  margin: 0;
  padding: 0;
}

/* line 17, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#content {
  clear: right;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 24, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 7, assetic_compassQKs8HK.sass */
ul.loginfields {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, assetic_compassQKs8HK.sass */
#login-form {
  height: 10%;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 20, assetic_compassQKs8HK.sass */
#login-form #centered {
  margin: 0 auto;
}
/* line 22, assetic_compassQKs8HK.sass */
#login-form #centered form {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 29px 29px;
  max-width: 356px;
}
/* line 30, assetic_compassQKs8HK.sass */
#login-form #centered div.notice {
  color: red;
}
/* line 32, assetic_compassQKs8HK.sass */
#login-form #centered ul input {
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
}
/* line 45, assetic_compassQKs8HK.sass */
#login-form #centered ul input#_submit {
  color: white;
  width: 110px;
  margin-top: 20px;
  margin: 0 auto;
}

/* FORMS box */
/* line 53, assetic_compassQKs8HK.sass */
.form_box {
  float: left;
  clear: both;
}
/* line 56, assetic_compassQKs8HK.sass */
.form_box form div {
  float: left;
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 61, assetic_compassQKs8HK.sass */
.form_box form div.fields_group {
  clear: none;
}
/* line 63, assetic_compassQKs8HK.sass */
.form_box label {
  color: #555555;
  float: left;
  clear: both;
  width: 200px;
}
/* line 68, assetic_compassQKs8HK.sass */
.form_box textarea, .form_box select {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Search box */
/* line 80, assetic_compassQKs8HK.sass */
#search-box {
  float: right;
  margin-top: 29px;
  margin-bottom: 21px;
}

/* line 85, assetic_compassQKs8HK.sass */
#search-box input[type="text"] {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Form elements */
/* line 97, assetic_compassQKs8HK.sass */
.form_box input {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}
/* line 106, assetic_compassQKs8HK.sass */
.form_box textarea {
  height: 140px;
}

/* line 109, assetic_compassQKs8HK.sass */
.steps_box {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
/* line 113, assetic_compassQKs8HK.sass */
.steps_box li {
  float: left;
  margin-right: 120px;
}
/* line 116, assetic_compassQKs8HK.sass */
.steps_box li.craue_formflow_current_step {
  font-weight: bold;
}

/* Body override only for login screen */
/* line 121, assetic_compassQKs8HK.sass */
body {
  background-color: whitesmoke;
}
