/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 11, assetic_compassOfvR3l.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compassOfvR3l.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compassOfvR3l.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}
