/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compassCV7OyL.sass */
root {
  display: block;
}

/* line 13, assetic_compassCV7OyL.sass */
#sidebar {
  float: left;
  margin: 0;
  padding: 0;
  width: 263px;
}

/* line 19, assetic_compassCV7OyL.sass */
#content {
  clear: right;
  overflow: hidden;
  padding-left: 40px;
}

/* line 24, assetic_compassCV7OyL.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}
