/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 17, assetic_compasszOemYf.sass */
body {
  background-color: #323637;
}

/* line 21, assetic_compasszOemYf.sass */
#content {
  background-color: white;
  box-shadow: -5px 0 14px rgba(0, 0, 0, 0.13);
}

/* line 25, assetic_compasszOemYf.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

/* line 31, assetic_compasszOemYf.sass */
#section-info {
  background: #a3aaab;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
}
/* line 35, assetic_compasszOemYf.sass */
#section-info ul {
  list-style: none;
  margin: 0;
  padding-left: 6px;
}
/* line 39, assetic_compasszOemYf.sass */
#section-info ul a {
  color: white;
  text-shadow: 1px 1px 0px #333333;
  font-size: 20px;
}

/* line 45, assetic_compasszOemYf.sass */
#footer-info {
  background: #a3aaab;
  border-radius: 0px 0px 5px 5px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 56, assetic_compasszOemYf.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 59, assetic_compasszOemYf.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 63, assetic_compasszOemYf.sass */
#sidebar .menu {
  top: 10px;
}

/* line 66, assetic_compasszOemYf.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 68, assetic_compasszOemYf.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 74, assetic_compasszOemYf.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 77, assetic_compasszOemYf.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 81, assetic_compasszOemYf.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 86, assetic_compasszOemYf.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 90, assetic_compasszOemYf.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 97, assetic_compasszOemYf.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 100, assetic_compasszOemYf.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 106, assetic_compasszOemYf.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 108, assetic_compasszOemYf.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 113, assetic_compasszOemYf.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 119, assetic_compasszOemYf.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 124, assetic_compasszOemYf.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 128, assetic_compasszOemYf.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 131, assetic_compasszOemYf.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 135, assetic_compasszOemYf.sass */
.add_tag_link {
  float: left;
  clear: both;
}
