/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/* MENU */
/* line 11, assetic_compassnqi7vX.sass */
.main {
  background: url("web/images/menu_bg.png") #EBE4EB;
}

/* line 14, assetic_compassnqi7vX.sass */
#sidebar {
  background-color: #EBE4EB;
  width: auto;
  float: left;
}

/* line 24, assetic_compassnqi7vX.sass */
#sidebar ul {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #D8D8D8;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  list-style: none;
}
/* line 30, assetic_compassnqi7vX.sass */
#sidebar ul li {
  color: #0977B6;
}
/* line 38, assetic_compassnqi7vX.sass */
#sidebar ul li.current a {
  color: #D9471A;
}
/* line 41, assetic_compassnqi7vX.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 46, assetic_compassnqi7vX.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 50, assetic_compassnqi7vX.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 54, assetic_compassnqi7vX.sass */
#sidebar ul li span:hover, #sidebar ul li a:hover {
  color: #D9471A;
  text-decoration: none;
}
/* line 75, assetic_compassnqi7vX.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
}

/* line 81, assetic_compassnqi7vX.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 83, assetic_compassnqi7vX.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 85, assetic_compassnqi7vX.sass */
#sidebar ul li ul {
  margin: 0;
}
/* line 87, assetic_compassnqi7vX.sass */
#sidebar ul li ul ul {
  list-style: none;
  margin: 0;
}
/* line 90, assetic_compassnqi7vX.sass */
#sidebar ul li ul li {
  margin: 0;
  background: none repeat scroll 0 0 transparent;
  padding-left: 30px;
  border: medium none;
  font-size: 13px;
}
