/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Tables */
/* Responsive table */
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  /* line 12, assetic_compassBWGj3t.sass */
  #content table, #content thead, #content tbody, #content th, #content td, #content tr {
    display: block;
  }
  /* line 14, assetic_compassBWGj3t.sass */
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 18, assetic_compassBWGj3t.sass */
  #content tr {
    border: 1px solid #cccccc;
  }
  /* line 20, assetic_compassBWGj3t.sass */
  #content td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  /* line 28, assetic_compassBWGj3t.sass */
  #content td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /*Label the data */
}
