/* */
/* Login form */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
root {
  display: block;
}

/* line 14, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading h1 {
  padding-left: 20px;
}

/* line 21, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 24, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 28, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#content {
  clear: right;
  overflow: hidden;
  margin-left: 0;
  float: right;
  min-height: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 48, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading #user-tools {
  padding-top: 20px;
  padding-right: 20px;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading #user-tools p {
  text-align: right;
}

/* line 55, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer div {
  padding: 25px;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box {
  float: right;
}
/* line 63, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box form {
  margin: 0;
}
/* line 65, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box form input {
  height: auto;
}
/* line 67, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box .input-append {
  margin: 0;
}

/* line 70, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 83, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
table table {
  width: 100%;
}

/* line 7, assetic_compassblY0aK.sass */
ul.loginfields {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, assetic_compassblY0aK.sass */
#login-form {
  height: 10%;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 20, assetic_compassblY0aK.sass */
#login-form #centered {
  margin: 0 auto;
}
/* line 22, assetic_compassblY0aK.sass */
#login-form #centered form {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 29px 29px;
  max-width: 356px;
}
/* line 30, assetic_compassblY0aK.sass */
#login-form #centered div.notice {
  color: red;
}
/* line 32, assetic_compassblY0aK.sass */
#login-form #centered ul input {
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  height: 40px;
  outline: 0 none;
}
/* line 46, assetic_compassblY0aK.sass */
#login-form #centered ul input#_submit {
  height: auto;
  color: white;
  width: 110px;
  margin-top: 20px;
  margin: 0 auto;
}

/* FORMS box */
/* line 55, assetic_compassblY0aK.sass */
.form_box {
  float: left;
  clear: both;
}
/* line 58, assetic_compassblY0aK.sass */
.form_box form div {
  float: left;
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 63, assetic_compassblY0aK.sass */
.form_box form div.fields_group {
  clear: none;
}
/* line 65, assetic_compassblY0aK.sass */
.form_box label {
  color: #555555;
  float: left;
  clear: both;
  width: 200px;
}
/* line 70, assetic_compassblY0aK.sass */
.form_box textarea, .form_box select {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Search box */
/* Form elements */
/* line 84, assetic_compassblY0aK.sass */
.form_box input {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}
/* line 93, assetic_compassblY0aK.sass */
.form_box textarea {
  height: 140px;
}

/* line 96, assetic_compassblY0aK.sass */
.steps_box {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
/* line 100, assetic_compassblY0aK.sass */
.steps_box li {
  float: left;
  margin-right: 120px;
}
/* line 103, assetic_compassblY0aK.sass */
.steps_box li.craue_formflow_current_step {
  font-weight: bold;
}

/* Body override only for login screen */
/* line 108, assetic_compassblY0aK.sass */
body {
  background-color: whitesmoke;
}
