/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */

/* */
/* Login form */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
root {
  display: block;
}

/* line 14, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading h1 {
  padding-left: 20px;
}

/* line 21, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 24, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 28, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#content {
  clear: right;
  overflow: hidden;
  margin-left: 0;
  float: right;
  min-height: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 48, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading #user-tools {
  padding-top: 20px;
  padding-right: 20px;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading #user-tools p {
  text-align: right;
}

/* line 55, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer div {
  padding: 25px;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box {
  float: right;
}
/* line 63, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box form {
  margin: 0;
}
/* line 65, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box form input {
  height: auto;
}
/* line 67, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box .input-append {
  margin: 0;
}

/* line 70, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 83, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
table table {
  width: 100%;
}

/* line 7, assetic_compassCS1VK4.sass */
ul.loginfields {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, assetic_compassCS1VK4.sass */
#login-form {
  height: 10%;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 20, assetic_compassCS1VK4.sass */
#login-form #centered {
  margin: 0 auto;
}
/* line 22, assetic_compassCS1VK4.sass */
#login-form #centered form {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 29px 29px;
  max-width: 356px;
}
/* line 30, assetic_compassCS1VK4.sass */
#login-form #centered div.notice {
  color: red;
}
/* line 32, assetic_compassCS1VK4.sass */
#login-form #centered ul input {
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  height: 40px;
  outline: 0 none;
}
/* line 46, assetic_compassCS1VK4.sass */
#login-form #centered ul input#_submit {
  height: auto;
  color: white;
  width: 110px;
  margin-top: 20px;
  margin: 0 auto;
}

/* FORMS box */
/* line 55, assetic_compassCS1VK4.sass */
.form_box {
  float: left;
  clear: both;
}
/* line 58, assetic_compassCS1VK4.sass */
.form_box form div {
  float: left;
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 63, assetic_compassCS1VK4.sass */
.form_box form div.fields_group {
  clear: none;
}
/* line 65, assetic_compassCS1VK4.sass */
.form_box label {
  color: #555555;
  float: left;
  clear: both;
  width: 200px;
}
/* line 70, assetic_compassCS1VK4.sass */
.form_box textarea, .form_box select {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Search box */
/* Form elements */
/* line 84, assetic_compassCS1VK4.sass */
.form_box input {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}
/* line 93, assetic_compassCS1VK4.sass */
.form_box textarea {
  height: 140px;
}

/* line 96, assetic_compassCS1VK4.sass */
.steps_box {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
/* line 100, assetic_compassCS1VK4.sass */
.steps_box li {
  float: left;
  margin-right: 120px;
}
/* line 103, assetic_compassCS1VK4.sass */
.steps_box li.craue_formflow_current_step {
  font-weight: bold;
}

/* Body override only for login screen */
/* line 108, assetic_compassCS1VK4.sass */
body {
  background-color: whitesmoke;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compasslAFGgX.sass */
root {
  display: block;
}

/* line 14, assetic_compasslAFGgX.sass */
#heading h1 {
  padding-left: 20px;
}

/* line 21, assetic_compasslAFGgX.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 24, assetic_compasslAFGgX.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 28, assetic_compasslAFGgX.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, assetic_compasslAFGgX.sass */
#content {
  clear: right;
  overflow: hidden;
  margin-left: 0;
  float: right;
  min-height: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 48, assetic_compasslAFGgX.sass */
#heading #user-tools {
  padding-top: 20px;
  padding-right: 20px;
}
/* line 52, assetic_compasslAFGgX.sass */
#heading #user-tools p {
  text-align: right;
}

/* line 55, assetic_compasslAFGgX.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 58, assetic_compasslAFGgX.sass */
#footer div {
  padding: 25px;
}

/* line 61, assetic_compasslAFGgX.sass */
#search-box {
  float: right;
}
/* line 63, assetic_compasslAFGgX.sass */
#search-box form {
  margin: 0;
}
/* line 65, assetic_compasslAFGgX.sass */
#search-box form input {
  height: auto;
}
/* line 67, assetic_compasslAFGgX.sass */
#search-box .input-append {
  margin: 0;
}

/* line 70, assetic_compasslAFGgX.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 83, assetic_compasslAFGgX.sass */
table table {
  width: 100%;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/* MENU */
/* line 11, assetic_compassAEzEiR.sass */
.main {
  background: url("web/images/menu_bg.png") #ebe4eb;
}

/* line 14, assetic_compassAEzEiR.sass */
#sidebar {
  background-color: #ebe4eb;
  width: auto;
  float: left;
}

/* line 24, assetic_compassAEzEiR.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  list-style: none;
}
/* line 30, assetic_compassAEzEiR.sass */
#sidebar ul li {
  color: #0977b6;
}
/* line 38, assetic_compassAEzEiR.sass */
#sidebar ul li.current a {
  color: #d9471a;
}
/* line 41, assetic_compassAEzEiR.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 46, assetic_compassAEzEiR.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 50, assetic_compassAEzEiR.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 54, assetic_compassAEzEiR.sass */
#sidebar ul li span:hover, #sidebar ul li a:hover {
  color: #d9471a;
  text-decoration: none;
}
/* line 75, assetic_compassAEzEiR.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
}

/* line 81, assetic_compassAEzEiR.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 83, assetic_compassAEzEiR.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 85, assetic_compassAEzEiR.sass */
#sidebar ul li ul {
  margin: 0;
}
/* line 87, assetic_compassAEzEiR.sass */
#sidebar ul li ul ul {
  list-style: none;
  margin: 0;
}
/* line 90, assetic_compassAEzEiR.sass */
#sidebar ul li ul li {
  margin: 0;
  background: none repeat scroll 0 0 transparent;
  padding-left: 30px;
  border: medium none;
  font-size: 13px;
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Tables */
/* Responsive table */
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  /* line 12, assetic_compassgGiiRM.sass */
  #content table, #content thead, #content tbody, #content th, #content td, #content tr {
    display: block;
  }
  /* line 14, assetic_compassgGiiRM.sass */
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 18, assetic_compassgGiiRM.sass */
  #content tr {
    border: 1px solid #cccccc;
  }
  /* line 20, assetic_compassgGiiRM.sass */
  #content td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  /* line 28, assetic_compassgGiiRM.sass */
  #content td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /*Label the data */
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/* line 17, assetic_compassFVO1RJ.sass */
body {
  background-color: #323637;
}

/* line 21, assetic_compassFVO1RJ.sass */
#content {
  background-color: white;
  box-shadow: -5px 0 14px rgba(0, 0, 0, 0.13);
}

/* line 25, assetic_compassFVO1RJ.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

/* line 31, assetic_compassFVO1RJ.sass */
.main-container {
  overflow: hidden !important;
}

/* line 34, assetic_compassFVO1RJ.sass */
#section-info {
  /*background: lighten($heading-bg-color, 45%) */
  background: #326999;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  color: white;
  text-shadow: 1px 1px 0px #333333;
  font-size: 20px;
}
/* line 42, assetic_compassFVO1RJ.sass */
#section-info ul {
  list-style: none;
  margin: 0;
  margin-top: 4px;
  padding-left: 6px;
}
/* line 47, assetic_compassFVO1RJ.sass */
#section-info ul li {
  float: left;
  margin-right: 10px;
}
/* line 50, assetic_compassFVO1RJ.sass */
#section-info ul a {
  color: white;
}

/* line 53, assetic_compassFVO1RJ.sass */
#footer-info {
  background: #326999;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 25px 0;
}
/* line 57, assetic_compassFVO1RJ.sass */
#footer-info a {
  color: white;
}

/* line 61, assetic_compassFVO1RJ.sass */
#section-info.admin,
#footer-info.admin {
  background: #d9471a;
}

/* line 67, assetic_compassFVO1RJ.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 70, assetic_compassFVO1RJ.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 74, assetic_compassFVO1RJ.sass */
#sidebar .menu {
  top: 10px;
}

/* line 77, assetic_compassFVO1RJ.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 79, assetic_compassFVO1RJ.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 85, assetic_compassFVO1RJ.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 88, assetic_compassFVO1RJ.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 92, assetic_compassFVO1RJ.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 97, assetic_compassFVO1RJ.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 101, assetic_compassFVO1RJ.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 108, assetic_compassFVO1RJ.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 111, assetic_compassFVO1RJ.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 117, assetic_compassFVO1RJ.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 119, assetic_compassFVO1RJ.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 124, assetic_compassFVO1RJ.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 130, assetic_compassFVO1RJ.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 135, assetic_compassFVO1RJ.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 139, assetic_compassFVO1RJ.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 142, assetic_compassFVO1RJ.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 146, assetic_compassFVO1RJ.sass */
.add_tag_link {
  float: left;
  clear: both;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/* line 11, assetic_compassNQSEvI.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compassNQSEvI.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compassNQSEvI.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}

/* line 23, assetic_compassNQSEvI.sass */
#sidebar ul {
  font-weight: bold;
}

/* line 29, assetic_compassNQSEvI.sass */
h1 {
  font-size: 30px;
}

/* line 32, assetic_compassNQSEvI.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 36, assetic_compassNQSEvI.sass */
td.center, th.center {
  text-align: center;
  vertical-align: middle;
}

/* line 40, assetic_compassNQSEvI.sass */
.center {
  text-align: center;
}
