/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* MENU */
/* line 11, assetic_compassXoZVxi.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
}
/* line 16, assetic_compassXoZVxi.sass */
#sidebar ul li {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid white;
  font: bold 15px Helvetica, Arial, sans-serif;
  color: #0977b6;
}
/* line 21, assetic_compassXoZVxi.sass */
#sidebar ul span.current {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
/* line 25, assetic_compassXoZVxi.sass */
#sidebar ul li.current {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
/* line 28, assetic_compassXoZVxi.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 34, assetic_compassXoZVxi.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 39, assetic_compassXoZVxi.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 44, assetic_compassXoZVxi.sass */
#sidebar ul li span:hover {
  text-decoration: underline;
}
/* line 46, assetic_compassXoZVxi.sass */
#sidebar ul span:hover {
  background-color: #f4f4f4;
}
/* line 49, assetic_compassXoZVxi.sass */
#sidebar ul li:hover {
  background-color: #f4f4f4;
}
/* line 51, assetic_compassXoZVxi.sass */
#sidebar ul li:active {
  background-color: #dddddd;
}
/* line 53, assetic_compassXoZVxi.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
  padding-left: 30px;
}

/* line 60, assetic_compassXoZVxi.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 62, assetic_compassXoZVxi.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 65, assetic_compassXoZVxi.sass */
#sidebar ul li ul ul {
  margin: 0;
  padding-left: 15px;
}
/* line 68, assetic_compassXoZVxi.sass */
#sidebar ul li ul li {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 13px;
  list-style: disc outside;
  margin: 0;
}
/* line 74, assetic_compassXoZVxi.sass */
#sidebar ul li ul li a {
  /* font-weight: normal; */
  /* padding: 3px 0; */
}
