/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, assetic_compass62Zhds.sass */
#content {
  background-color: white;
}

/* line 40, assetic_compass62Zhds.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, assetic_compass62Zhds.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, assetic_compass62Zhds.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, assetic_compass62Zhds.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, assetic_compass62Zhds.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, assetic_compass62Zhds.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, assetic_compass62Zhds.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* */
/* Login form */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
root {
  display: block;
}

/* line 14, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading h1 {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 19, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#sidebar {
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 23, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#sidebar div.clear {
  clear: both;
  float: left;
}

/* line 28, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 31, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 35, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 42, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#content {
  clear: right;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#heading #user-tools {
  padding-top: 20px;
}

/* line 56, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer {
  min-height: 200px;
  bottom: 0;
  bottom: 0;
}
/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#footer div {
  padding: 25px;
}

/* line 64, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box {
  float: right;
  width: 320px;
  margin-right: 20px;
}
/* line 69, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
#search-box form {
  padding-top: 10px;
}

/* line 73, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
.form_box form {
  float: left;
  clear: both;
}

/* line 77, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 90, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/layout.sass */
table table {
  width: 100%;
}

/* line 7, assetic_compasshSceBA.sass */
ul.loginfields {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, assetic_compasshSceBA.sass */
#login-form {
  height: 10%;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 20, assetic_compasshSceBA.sass */
#login-form #centered {
  margin: 0 auto;
}
/* line 22, assetic_compasshSceBA.sass */
#login-form #centered form {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 29px 29px;
  max-width: 356px;
}
/* line 30, assetic_compasshSceBA.sass */
#login-form #centered div.notice {
  color: red;
}
/* line 32, assetic_compasshSceBA.sass */
#login-form #centered ul input {
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  height: 40px;
  outline: 0 none;
}
/* line 46, assetic_compasshSceBA.sass */
#login-form #centered ul input#_submit {
  height: auto;
  color: white;
  width: 110px;
  margin-top: 20px;
  margin: 0 auto;
}

/* FORMS box */
/* line 55, assetic_compasshSceBA.sass */
.form_box {
  float: left;
  clear: both;
}
/* line 58, assetic_compasshSceBA.sass */
.form_box form div {
  float: left;
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 63, assetic_compasshSceBA.sass */
.form_box form div.fields_group {
  clear: none;
}
/* line 65, assetic_compasshSceBA.sass */
.form_box label {
  color: #555555;
  float: left;
  clear: both;
  width: 200px;
}
/* line 70, assetic_compasshSceBA.sass */
.form_box textarea, .form_box select {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Search box */
/* Form elements */
/* line 84, assetic_compasshSceBA.sass */
.form_box input {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}
/* line 93, assetic_compasshSceBA.sass */
.form_box textarea {
  height: 140px;
}

/* line 96, assetic_compasshSceBA.sass */
.steps_box {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
/* line 100, assetic_compasshSceBA.sass */
.steps_box li {
  float: left;
  margin-right: 120px;
}
/* line 103, assetic_compasshSceBA.sass */
.steps_box li.craue_formflow_current_step {
  font-weight: bold;
}

/* Body override only for login screen */
/* line 108, assetic_compasshSceBA.sass */
body {
  background-color: whitesmoke;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compasstvyoEK.sass */
root {
  display: block;
}

/* line 14, assetic_compasstvyoEK.sass */
#heading h1 {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 19, assetic_compasstvyoEK.sass */
#sidebar {
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 23, assetic_compasstvyoEK.sass */
#sidebar div.clear {
  clear: both;
  float: left;
}

/* line 28, assetic_compasstvyoEK.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 31, assetic_compasstvyoEK.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 35, assetic_compasstvyoEK.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 42, assetic_compasstvyoEK.sass */
#content {
  clear: right;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 52, assetic_compasstvyoEK.sass */
#heading #user-tools {
  padding-top: 20px;
}

/* line 56, assetic_compasstvyoEK.sass */
#footer {
  min-height: 200px;
  bottom: 0;
  bottom: 0;
}
/* line 61, assetic_compasstvyoEK.sass */
#footer div {
  padding: 25px;
}

/* line 64, assetic_compasstvyoEK.sass */
#search-box {
  float: right;
  width: 320px;
  margin-right: 20px;
}
/* line 69, assetic_compasstvyoEK.sass */
#search-box form {
  padding-top: 10px;
}

/* line 73, assetic_compasstvyoEK.sass */
.form_box form {
  float: left;
  clear: both;
}

/* line 77, assetic_compasstvyoEK.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 90, assetic_compasstvyoEK.sass */
table table {
  width: 100%;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* MENU */
/* line 11, assetic_compassJvopeW.sass */
#sidebar {
  background-color: #ebe4eb;
}

/* line 14, assetic_compassJvopeW.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  list-style: none;
}
/* line 20, assetic_compassJvopeW.sass */
#sidebar ul li {
  border-bottom: 1px solid #d8d8d8;
  color: #0977b6;
}
/* line 23, assetic_compassJvopeW.sass */
#sidebar ul span.current {
  background-color: #006699;
}
/* line 26, assetic_compassJvopeW.sass */
#sidebar ul li.current {
  background-color: #006699;
}
/* line 28, assetic_compassJvopeW.sass */
#sidebar ul li.current a {
  color: white;
}
/* line 30, assetic_compassJvopeW.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 35, assetic_compassJvopeW.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 39, assetic_compassJvopeW.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 43, assetic_compassJvopeW.sass */
#sidebar ul li span:hover, #sidebar ul li a:hover {
  color: white;
  background-color: #006699;
  text-decoration: none;
}
/* line 47, assetic_compassJvopeW.sass */
#sidebar ul span:hover {
  color: white;
  background-color: #0077b3;
}
/* line 51, assetic_compassJvopeW.sass */
#sidebar ul li:hover {
  background-color: #0077b3;
}
/* line 53, assetic_compassJvopeW.sass */
#sidebar ul li:hover a, #sidebar ul li:hover span {
  color: white;
}
/* line 55, assetic_compassJvopeW.sass */
#sidebar ul li.current_ancestor {
  background-color: #0088cc;
}
/* line 57, assetic_compassJvopeW.sass */
#sidebar ul li.current_ancestor a, #sidebar ul li.current_ancestor span {
  color: white;
}
/* line 59, assetic_compassJvopeW.sass */
#sidebar ul li:active {
  background-color: #006699;
}
/* line 61, assetic_compassJvopeW.sass */
#sidebar ul li:active a {
  color: white;
}
/* line 63, assetic_compassJvopeW.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
  padding-left: 30px;
}

/* line 70, assetic_compassJvopeW.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 72, assetic_compassJvopeW.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 75, assetic_compassJvopeW.sass */
#sidebar ul li ul ul {
  margin: 0;
  padding-left: 15px;
}
/* line 78, assetic_compassJvopeW.sass */
#sidebar ul li ul li {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 13px;
  list-style: disc outside;
  margin: 0;
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Tables */
/* Responsive table */
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  /* line 12, assetic_compassSRXks9.sass */
  #content table, #content thead, #content tbody, #content th, #content td, #content tr {
    display: block;
  }
  /* line 14, assetic_compassSRXks9.sass */
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 18, assetic_compassSRXks9.sass */
  #content tr {
    border: 1px solid #cccccc;
  }
  /* line 20, assetic_compassSRXks9.sass */
  #content td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  /* line 28, assetic_compassSRXks9.sass */
  #content td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /*Label the data */
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 18, assetic_compass5t4l8n.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 23, assetic_compass5t4l8n.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 27, assetic_compass5t4l8n.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 34, assetic_compass5t4l8n.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 37, assetic_compass5t4l8n.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 43, assetic_compass5t4l8n.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 45, assetic_compass5t4l8n.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 50, assetic_compass5t4l8n.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 56, assetic_compass5t4l8n.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 61, assetic_compass5t4l8n.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 65, assetic_compass5t4l8n.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 68, assetic_compass5t4l8n.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 72, assetic_compass5t4l8n.sass */
.add_tag_link {
  float: left;
  clear: both;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 11, assetic_compassYwL1iE.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compassYwL1iE.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compassYwL1iE.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}

/* line 23, assetic_compassYwL1iE.sass */
#sidebar ul {
  font-weight: bold;
}

/* line 29, assetic_compassYwL1iE.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 33, assetic_compassYwL1iE.sass */
td.center, th.center {
  text-align: center;
  vertical-align: middle;
}

/* line 37, assetic_compassYwL1iE.sass */
.center {
  text-align: center;
}
