/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 18, assetic_compassUpCSFl.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 23, assetic_compassUpCSFl.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 27, assetic_compassUpCSFl.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 34, assetic_compassUpCSFl.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 37, assetic_compassUpCSFl.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 43, assetic_compassUpCSFl.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 45, assetic_compassUpCSFl.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 50, assetic_compassUpCSFl.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 56, assetic_compassUpCSFl.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 61, assetic_compassUpCSFl.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 65, assetic_compassUpCSFl.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 68, assetic_compassUpCSFl.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 72, assetic_compassUpCSFl.sass */
.add_tag_link {
  float: left;
  clear: both;
}
