/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 11, assetic_compassMf0NOY.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compassMf0NOY.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compassMf0NOY.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}

/* line 23, assetic_compassMf0NOY.sass */
#sidebar ul {
  font-weight: bold;
}

/* line 29, assetic_compassMf0NOY.sass */
h1 {
  font-size: 30px;
}

/* line 32, assetic_compassMf0NOY.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 36, assetic_compassMf0NOY.sass */
td.center, th.center {
  text-align: center;
  vertical-align: middle;
}

/* line 40, assetic_compassMf0NOY.sass */
.center {
  text-align: center;
}
