/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 37, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#content {
  background-color: white;
}

/* line 40, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
.main {
  background-color: #ebe4eb;
  background: url("images/menu_bg.png");
}

/* line 44, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 47, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 50, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 52, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 58, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 61, ../var/www/acspanel/src/ACS/ACSPanelBundle/Resources/public/css/colors.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* MENU */
/* line 11, assetic_compassE1zRWX.sass */
#sidebar {
  background-color: #ebe4eb;
}

/* line 14, assetic_compassE1zRWX.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  list-style: none;
}
/* line 20, assetic_compassE1zRWX.sass */
#sidebar ul li {
  border-bottom: 1px solid #d8d8d8;
  color: #0977b6;
}
/* line 23, assetic_compassE1zRWX.sass */
#sidebar ul span.current {
  background-color: #006699;
}
/* line 26, assetic_compassE1zRWX.sass */
#sidebar ul li.current {
  background-color: #006699;
}
/* line 28, assetic_compassE1zRWX.sass */
#sidebar ul li.current a {
  color: white;
}
/* line 30, assetic_compassE1zRWX.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 35, assetic_compassE1zRWX.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 39, assetic_compassE1zRWX.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 43, assetic_compassE1zRWX.sass */
#sidebar ul li span:hover, #sidebar ul li a:hover {
  color: white;
  background-color: #006699;
  text-decoration: none;
}
/* line 47, assetic_compassE1zRWX.sass */
#sidebar ul span:hover {
  color: white;
  background-color: #0077b3;
}
/* line 51, assetic_compassE1zRWX.sass */
#sidebar ul li:hover {
  background-color: #0077b3;
}
/* line 53, assetic_compassE1zRWX.sass */
#sidebar ul li:hover a, #sidebar ul li:hover span {
  color: white;
}
/* line 55, assetic_compassE1zRWX.sass */
#sidebar ul li.current_ancestor {
  background-color: #0088cc;
}
/* line 57, assetic_compassE1zRWX.sass */
#sidebar ul li.current_ancestor a, #sidebar ul li.current_ancestor span {
  color: white;
}
/* line 59, assetic_compassE1zRWX.sass */
#sidebar ul li:active {
  background-color: #006699;
}
/* line 61, assetic_compassE1zRWX.sass */
#sidebar ul li:active a {
  color: white;
}
/* line 63, assetic_compassE1zRWX.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
  padding-left: 30px;
}

/* line 70, assetic_compassE1zRWX.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 72, assetic_compassE1zRWX.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 75, assetic_compassE1zRWX.sass */
#sidebar ul li ul ul {
  margin: 0;
  padding-left: 15px;
}
/* line 78, assetic_compassE1zRWX.sass */
#sidebar ul li ul li {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 13px;
  list-style: disc outside;
  margin: 0;
}
