/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */

/* */
/* Login form */
/* line 5, assetic_compassa4SOH6.sass */
ul.loginfields {
  list-style: none;
  width: 350px;
  padding: 0;
}

/* line 10, assetic_compassa4SOH6.sass */
#login-form {
  top: 40%;
  height: 10%;
  padding: 5px;
  text-align: center;
}
/* line 15, assetic_compassa4SOH6.sass */
#login-form #centered {
  float: right;
  text-align: left;
  position: relative;
  left: -50%;
}
/* line 20, assetic_compassa4SOH6.sass */
#login-form #centered h1 {
  width: 100%;
}
/* line 22, assetic_compassa4SOH6.sass */
#login-form #centered div.notice, #login-form #centered ul {
  position: relative;
  left: 50%;
}
/* line 25, assetic_compassa4SOH6.sass */
#login-form #centered div.notice {
  color: red;
}
/* line 27, assetic_compassa4SOH6.sass */
#login-form #centered ul input {
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px;
  width: 100%;
}
/* line 40, assetic_compassa4SOH6.sass */
#login-form #centered ul input#_submit {
  background: none repeat scroll 0 0 #0977b6;
  color: white;
  width: 110px;
  margin-left: 50px;
  margin-left: 116px;
  margin-top: 20px;
}

/* FORMS box */
/* line 50, assetic_compassa4SOH6.sass */
.form_box {
  float: left;
  clear: both;
}
/* line 53, assetic_compassa4SOH6.sass */
.form_box form div {
  float: left;
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 58, assetic_compassa4SOH6.sass */
.form_box form div.fields_group {
  clear: none;
}
/* line 60, assetic_compassa4SOH6.sass */
.form_box label {
  color: #555555;
  float: left;
  clear: both;
  width: 200px;
}
/* line 65, assetic_compassa4SOH6.sass */
.form_box textarea, .form_box select {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Search box */
/* line 77, assetic_compassa4SOH6.sass */
#search-box {
  float: right;
  margin-top: 29px;
  margin-bottom: 21px;
}

/* line 82, assetic_compassa4SOH6.sass */
#search-box input[type="text"] {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}

/* Form elements */
/* line 94, assetic_compassa4SOH6.sass */
.form_box input {
  width: 255px;
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  font-weight: 200;
  line-height: 1;
  outline: 0 none;
  padding: 3px;
}
/* line 103, assetic_compassa4SOH6.sass */
.form_box textarea {
  height: 140px;
}

/* line 106, assetic_compassa4SOH6.sass */
.steps_box {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
/* line 110, assetic_compassa4SOH6.sass */
.steps_box li {
  float: left;
  margin-right: 120px;
}
/* line 113, assetic_compassa4SOH6.sass */
.steps_box li.craue_formflow_current_step {
  font-weight: bold;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compassByRIJe.sass */
root {
  display: block;
}

/* line 13, assetic_compassByRIJe.sass */
#sidebar {
  float: left;
  margin: 0;
  padding: 0;
  width: 263px;
}

/* line 19, assetic_compassByRIJe.sass */
#content {
  clear: right;
  overflow: hidden;
  padding-left: 40px;
}

/* line 24, assetic_compassByRIJe.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* MENU */
/* line 11, assetic_compassXvAeIn.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
}
/* line 16, assetic_compassXvAeIn.sass */
#sidebar ul li {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid white;
  font: bold 15px Helvetica, Arial, sans-serif;
  color: #0977b6;
}
/* line 21, assetic_compassXvAeIn.sass */
#sidebar ul span.current {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
/* line 25, assetic_compassXvAeIn.sass */
#sidebar ul li.current {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
/* line 28, assetic_compassXvAeIn.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 34, assetic_compassXvAeIn.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 39, assetic_compassXvAeIn.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-shadow: 0 1px 0 white;
}
/* line 44, assetic_compassXvAeIn.sass */
#sidebar ul li span:hover {
  text-decoration: underline;
}
/* line 46, assetic_compassXvAeIn.sass */
#sidebar ul span:hover {
  background-color: #f4f4f4;
}
/* line 49, assetic_compassXvAeIn.sass */
#sidebar ul li:hover {
  background-color: #f4f4f4;
}
/* line 51, assetic_compassXvAeIn.sass */
#sidebar ul li:active {
  background-color: #dddddd;
}
/* line 53, assetic_compassXvAeIn.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
  padding-left: 30px;
}

/* line 60, assetic_compassXvAeIn.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 62, assetic_compassXvAeIn.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 65, assetic_compassXvAeIn.sass */
#sidebar ul li ul ul {
  margin: 0;
  padding-left: 15px;
}
/* line 68, assetic_compassXvAeIn.sass */
#sidebar ul li ul li {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 13px;
  list-style: disc outside;
  margin: 0;
}
/* line 74, assetic_compassXvAeIn.sass */
#sidebar ul li ul li a {
  /* font-weight: normal; */
  /* padding: 3px 0; */
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Tables */
/* TABLES */
/* line 10, assetic_compassERWHPx.sass */
table {
  clear: both;
}

/* line 13, assetic_compassERWHPx.sass */
.records_list {
  width: 100%;
  border: 1px solid #b0b0b0;
}
/* line 16, assetic_compassERWHPx.sass */
.records_list tbody {
  /* Kind of irrelevant unless your .css is alreadt doing something else */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* line 25, assetic_compassERWHPx.sass */
.records_list thead {
  text-align: left;
}
/* line 27, assetic_compassERWHPx.sass */
.records_list thead th {
  background: -moz-linear-gradient(top, #f0f0f0 0, #dbdbdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
  border: 1px solid #b0b0b0;
  color: #444444;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 10px;
}
/* line 36, assetic_compassERWHPx.sass */
.records_list td {
  padding: 3px 10px;
  vertical-align: middle;
}
/* line 39, assetic_compassERWHPx.sass */
.records_list tr:nth-child(even) {
  background: #f2f2f2;
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 17, assetic_compassPPCXVI.sass */
ul.plan_attributes {
  display: none;
}

/* line 20, assetic_compassPPCXVI.sass */
#user-tools {
  float: right;
}

/* TITLES */
/* line 25, assetic_compassPPCXVI.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 29, assetic_compassPPCXVI.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 36, assetic_compassPPCXVI.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 39, assetic_compassPPCXVI.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 45, assetic_compassPPCXVI.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 47, assetic_compassPPCXVI.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 52, assetic_compassPPCXVI.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 58, assetic_compassPPCXVI.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 63, assetic_compassPPCXVI.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 67, assetic_compassPPCXVI.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 70, assetic_compassPPCXVI.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 74, assetic_compassPPCXVI.sass */
.add_tag_link {
  float: left;
  clear: both;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 11, assetic_compasstkoW3U.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compasstkoW3U.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compasstkoW3U.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}
