/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compass4xQPmR.sass */
root {
  display: block;
}

/* line 14, assetic_compass4xQPmR.sass */
#heading h1 {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 22, assetic_compass4xQPmR.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 25, assetic_compass4xQPmR.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 29, assetic_compass4xQPmR.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 36, assetic_compass4xQPmR.sass */
#content {
  clear: right;
  overflow: hidden;
  min-height: 730px;
  margin-left: 0;
  width: 85.39%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 49, assetic_compass4xQPmR.sass */
#heading #user-tools {
  padding-top: 20px;
}

/* line 53, assetic_compass4xQPmR.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 56, assetic_compass4xQPmR.sass */
#footer div {
  padding: 25px;
}

/* line 59, assetic_compass4xQPmR.sass */
#search-box {
  float: right;
  width: 320px;
  margin-right: 20px;
}
/* line 64, assetic_compass4xQPmR.sass */
#search-box form {
  padding-top: 10px;
}

/* line 68, assetic_compass4xQPmR.sass */
.form_box form {
  float: left;
  clear: both;
}

/* line 72, assetic_compass4xQPmR.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 85, assetic_compass4xQPmR.sass */
table table {
  width: 100%;
}
