/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compassbrp6yj.sass */
root {
  display: block;
}

/* line 14, assetic_compassbrp6yj.sass */
#heading h1 {
  padding-left: 20px;
}

/* line 21, assetic_compassbrp6yj.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 24, assetic_compassbrp6yj.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 28, assetic_compassbrp6yj.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, assetic_compassbrp6yj.sass */
#content {
  clear: right;
  overflow: hidden;
  margin-left: 0;
  float: right;
  min-height: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 48, assetic_compassbrp6yj.sass */
#heading #user-tools {
  padding-top: 20px;
  padding-right: 20px;
}
/* line 52, assetic_compassbrp6yj.sass */
#heading #user-tools p {
  text-align: right;
}

/* line 55, assetic_compassbrp6yj.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 58, assetic_compassbrp6yj.sass */
#footer div {
  padding: 25px;
}

/* line 61, assetic_compassbrp6yj.sass */
#search-box {
  float: right;
}
/* line 63, assetic_compassbrp6yj.sass */
#search-box form {
  margin: 0;
}
/* line 65, assetic_compassbrp6yj.sass */
#search-box form input {
  height: auto;
}
/* line 67, assetic_compassbrp6yj.sass */
#search-box .input-append {
  margin: 0;
}

/* line 70, assetic_compassbrp6yj.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 83, assetic_compassbrp6yj.sass */
table table {
  width: 100%;
}
