/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Layout styles. */
/* LAYOUT */
/* line 10, assetic_compassxlIb3L.sass */
root {
  display: block;
}

/* line 14, assetic_compassxlIb3L.sass */
#heading h1 {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 22, assetic_compassxlIb3L.sass */
#right-sidebar h2 {
  padding-left: 15px;
}
/* line 25, assetic_compassxlIb3L.sass */
#right-sidebar p {
  padding: 40px;
}
/* line 29, assetic_compassxlIb3L.sass */
#right-sidebar table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 36, assetic_compassxlIb3L.sass */
#content {
  clear: right;
  overflow: hidden;
  min-height: 730px;
  margin-left: 0;
  width: 85.39%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 49, assetic_compassxlIb3L.sass */
#heading #user-tools {
  padding-top: 20px;
}

/* line 53, assetic_compassxlIb3L.sass */
#footer {
  bottom: 0;
  bottom: 0;
}
/* line 56, assetic_compassxlIb3L.sass */
#footer div {
  padding: 25px;
}

/* line 59, assetic_compassxlIb3L.sass */
#search-box {
  float: right;
  width: 320px;
  margin-right: 20px;
}
/* line 64, assetic_compassxlIb3L.sass */
#search-box form {
  padding-top: 10px;
}

/* line 68, assetic_compassxlIb3L.sass */
.form_box form {
  float: left;
  clear: both;
}

/* line 72, assetic_compassxlIb3L.sass */
.tabs-content {
  float: left;
  clear: both;
  padding-left: 14px;
  padding-top: 23px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 85, assetic_compassxlIb3L.sass */
table table {
  width: 100%;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Menu styles. */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* MENU */
/* line 11, assetic_compassIrrW9d.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
}

/* line 14, assetic_compassIrrW9d.sass */
#sidebar {
  background-color: #ebe4eb;
}

/* line 23, assetic_compassIrrW9d.sass */
#sidebar ul {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  margin: 0 0 18px;
  border: none;
  padding: 0;
  list-style: none;
}
/* line 29, assetic_compassIrrW9d.sass */
#sidebar ul li {
  border-bottom: 1px solid #d8d8d8;
  color: #0977b6;
}
/* line 32, assetic_compassIrrW9d.sass */
#sidebar ul span.current {
  background: url("images/item-hover.png");
}
/* line 36, assetic_compassIrrW9d.sass */
#sidebar ul li.current {
  background-color: #006699;
}
/* line 38, assetic_compassIrrW9d.sass */
#sidebar ul li.current a {
  color: white;
}
/* line 40, assetic_compassIrrW9d.sass */
#sidebar ul li span {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 45, assetic_compassIrrW9d.sass */
#sidebar ul li ul li span, #sidebar ul li ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 49, assetic_compassIrrW9d.sass */
#sidebar ul li a {
  cursor: pointer;
  display: block;
  padding: 8px 15px;
}
/* line 53, assetic_compassIrrW9d.sass */
#sidebar ul li span:hover, #sidebar ul li a:hover {
  color: white;
  background-color: #0077b3;
  text-decoration: none;
}
/* line 57, assetic_compassIrrW9d.sass */
#sidebar ul span:hover {
  color: white;
  background-color: #0077b3;
}
/* line 61, assetic_compassIrrW9d.sass */
#sidebar ul li:hover {
  background-color: #0077b3;
}
/* line 63, assetic_compassIrrW9d.sass */
#sidebar ul li:hover a, #sidebar ul li:hover span {
  color: white;
}
/* line 65, assetic_compassIrrW9d.sass */
#sidebar ul li.current_ancestor {
  background-color: #0088cc;
}
/* line 67, assetic_compassIrrW9d.sass */
#sidebar ul li.current_ancestor a, #sidebar ul li.current_ancestor span {
  color: white;
}
/* line 69, assetic_compassIrrW9d.sass */
#sidebar ul li:active {
  background-color: #006699;
}
/* line 71, assetic_compassIrrW9d.sass */
#sidebar ul li:active a {
  color: white;
}
/* line 73, assetic_compassIrrW9d.sass */
#sidebar ul li ul {
  display: none;
  border: medium none;
  margin: 0 0 8px;
}

/* line 79, assetic_compassIrrW9d.sass */
#sidebar ul li.current_ancestor ul, #sidebar ul li.current ul, #sidebar ul li.current_ancestor ul li.current_ancestor ul, #sidebar ul li.current ul li.current_ancestor ul {
  display: block;
}
/* line 81, assetic_compassIrrW9d.sass */
#sidebar ul li.current_ancestor ul li ul, #sidebar ul li.current ul li ul {
  display: none;
}
/* line 83, assetic_compassIrrW9d.sass */
#sidebar ul li ul {
  margin: 0;
}
/* line 85, assetic_compassIrrW9d.sass */
#sidebar ul li ul ul {
  list-style: none;
  margin: 0;
}
/* line 88, assetic_compassIrrW9d.sass */
#sidebar ul li ul li {
  margin: 0;
  background: none repeat scroll 0 0 transparent;
  padding-left: 30px;
  border: medium none;
  font-size: 13px;
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 22, assetic_compassTyvLRH.sass */
#content {
  background-color: white;
}

/* line 25, assetic_compassTyvLRH.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
}

/* line 29, assetic_compassTyvLRH.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 32, assetic_compassTyvLRH.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 35, assetic_compassTyvLRH.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 37, assetic_compassTyvLRH.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 43, assetic_compassTyvLRH.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 46, assetic_compassTyvLRH.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 50, assetic_compassTyvLRH.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 55, assetic_compassTyvLRH.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 59, assetic_compassTyvLRH.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 66, assetic_compassTyvLRH.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 69, assetic_compassTyvLRH.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 75, assetic_compassTyvLRH.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 77, assetic_compassTyvLRH.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 82, assetic_compassTyvLRH.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 88, assetic_compassTyvLRH.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 93, assetic_compassTyvLRH.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 97, assetic_compassTyvLRH.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 100, assetic_compassTyvLRH.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 104, assetic_compassTyvLRH.sass */
.add_tag_link {
  float: left;
  clear: both;
}

/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* FONTS */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 11, assetic_compassONuK7c.sass */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* line 15, assetic_compassONuK7c.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #0977b6;
}
/* line 18, assetic_compassONuK7c.sass */
a:hover {
  text-decoration: none;
  color: #0977b6;
  text-decoration: underline;
}

/* line 23, assetic_compassONuK7c.sass */
#sidebar ul {
  font-weight: bold;
}

/* line 29, assetic_compassONuK7c.sass */
h1 {
  font-size: 30px;
}

/* line 32, assetic_compassONuK7c.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 36, assetic_compassONuK7c.sass */
td.center, th.center {
  text-align: center;
  vertical-align: middle;
}

/* line 40, assetic_compassONuK7c.sass */
.center {
  text-align: center;
}

/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Tables */
/* Responsive table */
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  /* line 12, assetic_compassfclrLJ.sass */
  #content table, #content thead, #content tbody, #content th, #content td, #content tr {
    display: block;
  }
  /* line 14, assetic_compassfclrLJ.sass */
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 18, assetic_compassfclrLJ.sass */
  #content tr {
    border: 1px solid #cccccc;
  }
  /* line 20, assetic_compassfclrLJ.sass */
  #content td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  /* line 28, assetic_compassfclrLJ.sass */
  #content td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /*Label the data */
}
