/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* $headers-bg: #b5441b */
/* line 17, assetic_compassKsKFv4.sass */
body {
  background-color: #323637;
}

/* line 21, assetic_compassKsKFv4.sass */
#content {
  background-color: white;
  box-shadow: -5px 0 14px rgba(0, 0, 0, 0.13);
}

/* line 25, assetic_compassKsKFv4.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

/* line 31, assetic_compassKsKFv4.sass */
.main-container {
  overflow: hidden !important;
}

/* line 34, assetic_compassKsKFv4.sass */
#section-info {
  /*background: lighten($heading-bg-color, 45%) */
  background: #326999;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  color: white;
  text-shadow: 1px 1px 0px #333333;
  font-size: 20px;
}
/* line 42, assetic_compassKsKFv4.sass */
#section-info ul {
  list-style: none;
  margin: 0;
  margin-top: 4px;
  padding-left: 6px;
}
/* line 47, assetic_compassKsKFv4.sass */
#section-info ul li {
  float: left;
  margin-right: 10px;
}
/* line 50, assetic_compassKsKFv4.sass */
#section-info ul a {
  color: white;
}

/* line 53, assetic_compassKsKFv4.sass */
#footer-info {
  background: #326999;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 25px 0;
}
/* line 57, assetic_compassKsKFv4.sass */
#footer-info a {
  color: white;
}

/* line 61, assetic_compassKsKFv4.sass */
#section-info.admin,
#footer-info.admin {
  background: #d9471a;
}

/* line 67, assetic_compassKsKFv4.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 70, assetic_compassKsKFv4.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 74, assetic_compassKsKFv4.sass */
#sidebar .menu {
  top: 10px;
}

/* line 77, assetic_compassKsKFv4.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 79, assetic_compassKsKFv4.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 85, assetic_compassKsKFv4.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 88, assetic_compassKsKFv4.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 92, assetic_compassKsKFv4.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 97, assetic_compassKsKFv4.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 101, assetic_compassKsKFv4.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 108, assetic_compassKsKFv4.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 111, assetic_compassKsKFv4.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 117, assetic_compassKsKFv4.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 119, assetic_compassKsKFv4.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 124, assetic_compassKsKFv4.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 130, assetic_compassKsKFv4.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 135, assetic_compassKsKFv4.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 139, assetic_compassKsKFv4.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 142, assetic_compassKsKFv4.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 146, assetic_compassKsKFv4.sass */
.add_tag_link {
  float: left;
  clear: both;
}
