/*Document   : main
 *Created on : 13/11/2012, 14:42:46
 *Author     : genar
 *Description:
 *Purpose of the stylesheet follows. */
/*@import "fonts"
 * @import "login"
 * @import "layout"
 * @import "menu"
 * @import "table" */
/*Document   : main
 *Created on : 30/04/2013, 14:42:46
 *Author     : genar
 *Description:
 *Fonts styles. */
/* COLORS */
/* line 22, assetic_compasstsZe44.sass */
#content {
  background-color: white;
}

/* line 25, assetic_compasstsZe44.sass */
.main {
  background: url("images/menu_bg.png") #ebe4eb;
}

/* line 29, assetic_compasstsZe44.sass */
#heading {
  background-color: #323637;
  color: white;
}
/* line 32, assetic_compasstsZe44.sass */
#heading a.sys-title {
  color: #30adf5;
}

/* line 35, assetic_compasstsZe44.sass */
#right-sidebar {
  background-color: #ebe4eb;
}
/* line 37, assetic_compasstsZe44.sass */
#right-sidebar h2 {
  background-color: #323637;
  color: #79caf8;
}

/* line 43, assetic_compasstsZe44.sass */
#user-tools a {
  color: #91d4fa;
}

/* line 46, assetic_compasstsZe44.sass */
#footer {
  background-color: #323637;
  color: white;
}

/* line 50, assetic_compasstsZe44.sass */
ul.plan_attributes {
  display: none;
}

/* TITLES */
/* line 55, assetic_compasstsZe44.sass */
#content h1 {
  float: left;
  color: #064c75;
}

/* line 59, assetic_compasstsZe44.sass */
ul.tab-nav {
  background: #f1f1f1;
  float: left;
  list-style: none;
  margin: 0 0 0 1px;
  /*height: 40px; */
  width: 100%;
}
/* line 66, assetic_compasstsZe44.sass */
ul.tab-nav li {
  float: left;
  background: url("images/sep_tabs.png") no-repeat right center;
}
/* line 69, assetic_compasstsZe44.sass */
ul.tab-nav li a {
  float: left;
  text-decoration: none;
  color: black;
  height: 24px;
  padding: 12px 14px;
}
/* line 75, assetic_compasstsZe44.sass */
ul.tab-nav li a.active {
  background: white url("images/sep_tabs.png") no-repeat 101% 1px;
}
/* line 77, assetic_compasstsZe44.sass */
ul.tab-nav li a:hover {
  text-decoration: underline;
}

/* Actions list */
/* line 82, assetic_compasstsZe44.sass */
.record_actions {
  float: left;
  clear: both;
}

/*Search results highlight */
/* line 88, assetic_compasstsZe44.sass */
.highlight {
  background-color: #d3e18a;
}

/* Dynamic adder */
/* line 93, assetic_compasstsZe44.sass */
.dinamic-adder {
  float: left;
  clear: both;
}

/* line 97, assetic_compasstsZe44.sass */
ul.dinamic-adder {
  list-style: none;
  padding: 0;
}
/* line 100, assetic_compasstsZe44.sass */
ul.dinamic-adder li {
  float: left;
  clear: both;
}

/* line 104, assetic_compasstsZe44.sass */
.add_tag_link {
  float: left;
  clear: both;
}
