<VirtualHost __SECONDARYVIRTUALHOST__>
    ServerName __SERVERNAME__
    __ALIASES__

    SSLEngine on
    SSLCertificateFile    /etc/apache2/ssl/symfony2-site-zaspanel-main.crt
    SSLCertificateKeyFile /etc/apache2/ssl/symfony2-site-zaspanel-main.key
    SSLCertificateChainFile /etc/apache2/ssl/symfony2-site-zaspanel-main.chain

    DocumentRoot /var/www/symfony2-site-zaspanel-main/web/

    CustomLog /var/log/sitelogs/symfony2-site-zaspanel-main/access.log combined
    ErrorLog  /var/log/sitelogs/symfony2-site-zaspanel-main/error.log

    Include /etc/packaged-site/symfony2-site-zaspanel-main/apachedir
</VirtualHost>
