#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Decide how important it is for the user to see this message
PRIORITY=high


db_input $PRIORITY symfony2-site-zaspanel-static/webroot || true
db_go

db_input $PRIORITY symfony2-site-zaspanel-static/protocol || true
db_go

db_input $PRIORITY symfony2-site-zaspanel-static/primaryvirtualhost || true
db_go

db_get symfony2-site-zaspanel-static/protocol
if [ "${RET}" = 'mixed' ]; then
    db_input $PRIORITY symfony2-site-zaspanel-static/secondaryvirtualhost || true
    db_go
else
    db_reset symfony2-site-zaspanel-static/secondaryvirtualhost
fi

db_input $PRIORITY symfony2-site-zaspanel-static/primaryredirects || true
db_go

db_input $PRIORITY symfony2-site-zaspanel-static/primaryaliases || true
db_go

db_input $PRIORITY symfony2-site-zaspanel-static/siteenabled || true
db_go

db_input $PRIORITY symfony2-site-zaspanel-static/staging || true
db_go

db_get symfony2-site-zaspanel-static/staging
if [ "${RET}" = true ]; then
    safe=1
    if [ -f /etc/packaged-site/symfony2-site-zaspanel-static/htpassd ]; then
        db_input $PRIORITY symfony2-site-zaspanel-static/stage_file_exists || true
        db_go

        db_get symfony2-site-zaspanel-static/stage_file_exists
        if [ "${RET}" = false ]; then
            safe=0
        fi
    fi
    if [ $safe = 1 ]; then
        ok=''
        while [ ! "$ok" ]; do
            db_input $PRIORITY symfony2-site-zaspanel-static/stage_username || true
            db_go || true

            db_get symfony2-site-zaspanel-static/stage_username
            if [ "$RET" ]; then
                ok=1
            fi
        done

        ok=''
        while [ ! "$ok" ]; do
            db_input $PRIORITY symfony2-site-zaspanel-static/stage_password || true
            db_go || true

            db_get symfony2-site-zaspanel-static/stage_password
            if [ "$RET" ]; then
                ok=1
            fi
        done
    fi
else
    db_reset symfony2-site-zaspanel-static/stage_username
    db_reset symfony2-site-zaspanel-static/stage_password
fi
