<h2>{% trans %}News{% endtrans %}</h2>
<ul>
  <li><span class="label label-success">Extra! Extra!</span> Ara es poden cercar dominis pel seu nom</li>
  <li><span class="label label-success">Nova característica!!</span> Paginador per tots els llistats</li>
</ul>

