ACS\ACSPanelBundle\Entity\MailAlias:
    type: entity
    repositoryClass: ACS\ACSPanelBundle\Model\MailAliasRepository
    table: mail_alias
    gedmo:
        loggable: {}
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY
        address:
            type: string
            length: 255
            fixed: false
            nullable: false
            gedmo:
                - versioned
        goto:
            type: text
            nullable: false
            gedmo:
                - versioned
        enabled:
            type: boolean
            nullable: true 
            gedmo:
                - versioned
        createdAt:
          type: datetime
          column: created_at
          gedmo:
            timestampable:
              on: create
        updatedAt:
          type: datetime
          column: updated_at
          nullable: true
          gedmo:
            timestampable:
              on: update
    oneToOne:
        domain:
            targetEntity: Domain
            gedmo:
                - versioned
            joinColumn:
                onDelete: CASCADE
    lifecycleCallbacks:
      prePersist: [ setCreatedAtValue ]
      preUpdate: [ setUpdatedAtValue ]

