ACS\ACSPanelBundle\Entity\MailWBList:
    type: entity
    table: mail_wblist
    gedmo:
        loggable: {}
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY
        sender:
            type: string
            length: 64
            fixed: false
            nullable: false
            gedmo:
                - versioned
        rcpt:
            type: string
            length: 64
            fixed: false
            nullable: false
            gedmo:
                - versioned
        reject:
            type: string
            length: 200
            fixed: false
            nullable: false
            gedmo:
                - versioned
        blacklisted:
            type: boolean
            nullable: false
            gedmo:
                - versioned
        enabled:
            type: boolean
            nullable: true 
            gedmo:
                - versioned
        createdAt:
            type: datetime
            column: created_at
        updatedAt:
            type: datetime
            nullable: true
            column: updated_at
    manyToOne:
        user:
            targetEntity: FosUser
            cascade: {  }
            inversedBy: null
            joinTable: null
            orderBy: null
            joinColumn:
                onDelete: CASCADE

    lifecycleCallbacks:
      prePersist: [ setCreatedAtValue, setUserValue ]
      preUpdate: [ setUpdatedAtValue ]

