ACS\ACSPanelBundle\Entity\PanelSetting:
    type: entity
    table: config_setting
    fields:
        createdAt:
          type: datetime
          column: created_at
          gedmo:
            timestampable:
              on: create
        updatedAt:
          type: datetime
          column: updated_at
          nullable: true
          gedmo:
            timestampable:
             on: update

    manyToOne:
        user:
            targetEntity: FosUser
            inversedBy: settings
            joinTable: null
            orderBy: null
            joinColumn:
                onDelete: CASCADE
        server:
            targetEntity: Server
            inversedBy: null
            joinTable: null
            orderBy: null
            joinColumn:
                onDelete: CASCADE
        service:
            targetEntity: Service
            inversedBy: settings
            joinTable: null
            orderBy: null
            joinColumn:
                onDelete: CASCADE

    lifecycleCallbacks:
      prePersist: [ setCreatedAtValue, setUserValue ]
      preUpdate: [ setUpdatedAtValue ]

