{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}LogItem{% endtrans %}{% endblock %}
{% block body %}
<h1>{% trans %}LogItem{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Route{% endtrans %}</th>
            <td>{{ entity.objectClass }}</td>
        </tr>
        <tr>
            <th>{% trans %}Object_reference{% endtrans %}</th>
            <td>{{ entity.version }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('logitem') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
