{% extends '::base.html.twig' %}
{% block body %}
<h1>{% trans %}HttpdAlias creation{% endtrans %}</h1>

<div class="form_box">
    <form action="{{ path('httpdalias_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="#" onclick="window.history.back()">
            {% trans %}Back{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
